.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.manage-container {
  display: flex;
  flex-direction: column;
  width: 10rem;
}

.start-button {
  margin-bottom: 1rem;
  height: 2rem;
  background-color: cadetblue;
  color: white;
  font-size: inherit;
  border: none;
  border-radius: 5px;
}

.reset-button {
  margin-bottom: 1rem;
  height: 2rem;
  background-color: red;
  color: white;
  font-size: inherit;
  border: none;
  border-radius: 5px;
}